<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="Assets/CSS/adminPanel.css">

    <link href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

    <script type="text/javascript" src="/Assets/JS/sort-table.js"></script>
    <link rel="stylesheet" href="/Assets/Icons/fontawesome-free-5.15.1-web/css/all.css">
</head>

<body class="d-flex flex-column mx-auto bg-light">
    <!-- <div class="container mt-5">
        <a class="text-decoration-none text-dark float-left" href="/">Mini Grocery Store</a>
        <div class="float-right d-flex flex-row align-items-center">
<<<<<<< HEAD
            <a class="text-decoration-none" href="http://localhost:5000">
                <i class="fas fa-shopping-cart"></i>
=======
            <a class="text-decoration-none" href="#">
>>>>>>> origin/testing
                <i class="fas fa-user"></i>
            </a>
            <span>&nbsp;|</span>
            <form action="http://localhost:5000/logout" method="post">
                <button class="border border-0 text-primary bg-light" type="submit" id="logout">Log Out</button>
            </form>
        </div>
    </div> -->
    
    <header class="header">

        <a href="/" class="logo"> <i class="fas fa-shopping-basket"></i> Mini Grocery Store</a>

        <!-- <nav class="navbar">
            <a href="#home">home</a>
            <a href="#features">features</a>
            <a href="#products">products</a>
            <a href="#categories">categories</a>
            <a href="#review">review</a>
            <a href="#blogs">blogs</a>
        </nav> -->

        <div class="icons">
            <!-- <div class="fas fa-bars" id="menu-btn"></div>
            <div class="fas fa-search" id="search-btn"></div>
            <div class="fas fa-shopping-cart" id="cart-btn"></div> -->
            <div class="fas fa-user" id="login-btn" onclick="window.location.href = '/signin'"></div>
        </div>
    </header>
    
    <div class="d-flex flex-row align-items-end mx-auto mt-5 w-100 justify-content-end position-relative" style="margin-top: 120px !important;">
        <div class="nav flex-column mt-2" id="tabList" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                aria-controls="v-pills-home" aria-selected="true">Product</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                aria-controls="v-pills-profile" aria-selected="false">Users</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                aria-controls="v-pills-messages" aria-selected="false">Purchase</a>
        </div>
        <div class="tab-content p-4 bg-white" id="content" style="border-radius: 10px;">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="d-flex justify-content-between mb-5 align-items-baseline">
                    <p class="m-0">All Products</p>
                    <div>
                        <button class="btn btn-primary m-0" data-toggle="modal"
                            data-target="#exampleModalCenter">Add Products</button>
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <form id="addForm" action="/addProduct" method="POST" enctype="multipart/form-data"
                                class="needs-validation" novalidate>
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h6 class="modal-title" id="exampleModalLongTitle">Add New Product</h6>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label class="font-weight-bold">Product Name</label>
                                                    <input type="text" class="form-control form-control-sm" id="name"
                                                        placeholder="Name" name="name" required>
                                                    <div class="invalid-feedback">Please fill out this field</div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="font-weight-bold">Product Qty</label>
                                                    <input type="number" class="form-control form-control-sm" id="qty"
                                                        placeholder="Qty" name="qty" required>
                                                    <div class="invalid-feedback">Please fill out this field</div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label class="font-weight-bold">Type</label>
                                                    <select id="type" class="form-control form-control-sm" name="type"
                                                        required>
                                                        <option selected>Ingredient</option>
                                                        <option>Vegetable</option>
                                                        <option>Fruit</option>
                                                        <option>Drink</option>
                                                        <option>Meat & Seafood</option>
                                                    </select>
                                                    <div class="invalid-feedback">Please fill out this field</div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="font-weight-bold">Unit</label>
                                                    <input type="text" class="form-control form-control-sm" id="unit"
                                                        placeholder="Ex: 1kg, 1 Bottle, ..." name="unit" required>
                                                    <div class="invalid-feedback">Please fill out this field</div>
                                                </div>
                                            </div>
                                            <div class="form-row mb-0">
                                                <div class="form-group col-md-6">
                                                    <label class="font-weight-bold">Price</label>
                                                    <input type="number" class="form-control form-control-sm" id="price"
                                                        placeholder="Price" name="price" required>
                                                    <div class="invalid-feedback">Please fill out this field</div>
                                                    <label class="font-weight-bold mt-3">Discount Price(%)</label>
                                                    <input type="number" class="form-control form-control-sm"
                                                        id="discountPrice" placeholder="Discount Price(%)" min="1"
                                                        max="100" name="discountPrice" required>
                                                    <div class="invalid-feedback">Please fill out this field with
                                                        integer number (1 to 100 only)</div>
                                                    <label class="font-weight-bold mt-3">Product Image</label>
                                                    <div class="input-group mb-3">
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input" id="inputFile"
                                                                name="image" accept="image/png, image/jpeg"
                                                                onchange="inputChange(event,this.id)" required>
                                                            <label class="custom-file-label"
                                                                for="inputGroupFile01">Choose file</label>
                                                            <div class="invalid-feedback">Please fill out this field
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6 text-center">
                                                    <img id="preview-inputFile" class="preview-images">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="font-weight-bold">Description</label>
                                                <input type="text" class="form-control form-control-sm" id="description"
                                                    placeholder="Product Detail" name="description" required>
                                                <div class="invalid-feedback">Please fill out this field</div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="submit" id="saveBtn" class="btn btn-primary">Save
                                                changes</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="overflow-auto">
                    <table class="table table-hover js-sort-table" id="demo2">
                        <thead>
                            <tr>
                                <th class="text-center text-nowrap" id="col1">Picture</th>
                                <th class="text-center text-nowrap">Name</th>
                                <th class="text-center text-nowrap">Unit</th>
                                <th class="text-center text-nowrap js-sort-number">Qty</th>
                                <th class="text-center text-nowrap js-sort-number">Price</th>
                                <th class="text-center text-nowrap js-sort-number">Discount</th>
                                <th class="text-center text-nowrap">Category</th>
                                <th class="js-sort-date text-center text-nowrap">Date Add</th>
                                <th class="text-center text-nowrap">Description</th>
                                <th class="text-center text-nowrap">Edit</th>
                            </tr>
                        </thead>
                        <tbody id="bodyTable">
                            <tr class="text-base">
                                <td class="text-nowrap text-center"><img src="/Assets/Image/Food&Drink/drink/milk.jpeg"
                                        style="max-width:60px; max-height:60px"></td>
                                <td class="text-nowrap align-middle">Milk</td>
                                <td class="text-nowrap align-middle">500ml</td>
                                <td class="text-nowrap align-middle">10</td>
                                <td class="text-nowrap align-middle">1$</td>
                                <td class="text-nowrap align-middle">10</td>
                                <td class="text-nowrap align-middle">Drink</td>
                                <td class="text-nowrap text-center align-middle">2022-02-11</td>
                                <td class="align-middle">Great</td>
                                <td class="text-nowrap text-center align-middle">
                                    <i class="fas fa-edit"></i>
                                    <i class="fas fa-trash-alt"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <table class="table table-hover js-sort-table" id="demo2">
                    <thead>
                        <tr>
                            <th class="js-sort-number text-center" id="col1">Picture</th>
                            <th id="col2">Name</th>
                            <th id="col4">Phone Number</th>
                            <th id="col6">Email Address</th>
                            <th id="col5">Jobs</th>
                            <th class="text-center" id="col7">Edit</th>
                        </tr>
                    </thead>
                    <tbody id="bodyTable">
                        <tr>
                            <th class="d-none" scope="row">1</th>
                            <td><img src="/Assets/Image/Vegetable/broccoli.jpeg" alt="User"></td>
                            <td>Hak</td>
                            <td>012345678</td>
                            <td>hak@gmail.com</td>
                            <td>Admin</td>
                            <td>
                                <i class="fas fa-edit"></i>
                                <i class="fas fa-trash-alt"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <table class="table table-hover js-sort-table" id="demo2">
                    <thead>
                        <tr>
                            <th class="js-sort-number text-center" id="col1">Picture</th>
                            <th id="col2">Name</th>
                            <th id="col6">Category</th>
                            <th class="text-center" id="col3">Qty</th>
                            <th id="col4">Description</th>
                            <th class="js-sort-date" id="col5">Date add</th>
                            <th id="col6">Amount</th>
                            <th class="text-center" id="col7">Action</th>
                        </tr>
                    </thead>
                    <tbody id="bodyTable">
                        <tr>
                            <th class="d-none" scope="row">1</th>
                            <td><img src="/Assets/Image/Food&Drink/drink/milk.jpeg" alt="coca"></td>
                            <td>CocaCola</td>
                            <td>Drink</td>
                            <td>1</td>
                            <td>A special drink</td>
                            <td>30/02/2022</td>
                            <td>1$</td>
                            <td>Success</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--<div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <table class="table table-hover js-sort-table" id="demo2">
                    <thead>
                        <tr>
                            <th class="js-sort-number text-center" id="col1">Picture</th>
                            <th id="col2">Name</th>
                            <th class="text-center" id="col3">Qty</th>
                            <th id="col4">Detail</th>
                            <th class="js-sort-date" id="col5">In stock at</th>
                            <th id="col6">Category</th>
                            <th class="text-center" id="col7">Action</th>
                        </tr>
                    </thead>
                    <tbody id="bodyTable">
                        <tr>
                            <th class="d-none" scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                    </tbody>
                </table>
            </div>-->
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/Assets/JS/adminPanel.js"></script>
    <script>
        // Add the name of the file appear on file input
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });


        //for preview image when add product
        function previewImg(input, id) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $(`#preview-${id}`).attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        function inputChange(event, inputId) {
            previewImg(event.target, inputId);
        }

        // Disable form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Get the forms we want to add validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        } 
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</body>

</html>