@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#ff7800;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

body {
    min-width: 500px;
    max-width: 1200px;
    margin: auto;
}

.logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);
}

.logo i{
    color:var(--orange);
}

.border-3 {
    border-width: 0px !important;
    background-color: #E9EAEE;
    border-radius: 20px;
    width: 70%;
    padding: 40px 80px !important;
}

input {
    border-radius: 10px !important;
}

button {
    background-color: white !important;
}

button:hover {
    background-color: gray !important;
    color: white !important;
}
@media(max-width: 900px) {
    .border-3 {
        width: 80%;
        padding: 40px 60px !important;
    }
}

@media(max-width: 700px) {
    .border-3 {
        width: 90% !important;
        padding: 40px 40px !important;
    }
}